<header>
	<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
<div id="header" class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  	<a type="button" class="my-0 mr-md-auto font-weight-normal" href="/"><img src="https://proxy-us-west2.goorm.io//service/5f1b0d205bb26c2583bc3702_d9lMpT9MzvHX9Xo3Z0p.run-us-west2.goorm.io/9080//file/load/naturau.jpeg?path=d29ya3NwYWNlJTJGUmVzdGF1cmFudGVfcHJpbWElMkZpbWdzJTJGbmF0dXJhdS5qcGVn&docker_id=d9lMpT9MzvHX9Xo3Z0p&secure_session_id=25OCDhgVPTjH3cdmr94SrfUCPYVkypdf" width="200" height="50"></a>
  	<nav class="my-2 my-md-0 mr-md-3">
    	<a class="p-2 text-dark" type="button" href="/Productos">Productos</a>
    	<a class="p-2 text-dark" type="button" href="/Contacto">Contacto</a>
		<a onclick="instagram()" type="button"><img class="insta" src="https://cdn-images-1.medium.com/max/1200/1*CPgwLHR6jno_tOmF0--7eg.jpeg" width="50" height="45"></a> 
  	</nav>
</div>
</header>
<script>
	function instagram(){
		window.open("https://instagram.com/naturau_mx?igshid=jwfvpruf61qh");
	}
</script>