<head>
	<%- include('includes/head.ejs') %>
    <script src='https://smtpjs.com/v3/smtp.js'></script>
</head>
<body>
	<link rel="stylesheet" type="text/css" href="/css/Informacion.css">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <%- include("includes/navigation.ejs") %>

    <main>
		<div class="monitor">
			<div class="row">
			<h1>Contacto</h1>
			<div class="Titulazo">
				<a class="contacten centered">¡¡Contactanos!!</a>
			</div>
		</div>
		<div class="row">
			<div class="categoriaContacto">
				<div class="tema">
					<p>Direccion</p>
				</div>
				<div class="row">
					<svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-compass iconoTel" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8 15.016a6.5 6.5 0 1 0 0-13 6.5 6.5 0 0 0 0 13zm0 1a7.5 7.5 0 1 0 0-15 7.5 7.5 0 0 0 0 15z"/>
  <path d="M6 1a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2H7a1 1 0 0 1-1-1zm.94 6.44l4.95-2.83-2.83 4.95-4.95 2.83 2.83-4.95z"/>
</svg>
					<div class="descripcionCont">
						<a>Lorem ipsum dolor sit amet </a><br>
						<a>consectetur adipiscing </a><br>
						<a>elit dictum</a>
					</div>
				</div>
				<div class="tema">
					<p>Telefono</p>
				</div>
				<div class="row">
					<svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-phone-fill iconoTel" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M3 2a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V2zm6 11a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
</svg>
					<div class="descripcionCont">
						<a>(55) 555 5555</a><br>
						<a>(55) 555 5555</a><br>
						<a>(55) 555 5555</a>
					</div>
				</div>

				<div class="tema">
					<p>Correo electronico</p>
				</div>
				<div class="row">
					<svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-envelope-fill iconoTel" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
</svg>
					<div class="descripcionCont cor">
						<span>ejemplo@correo.com</span>
					</div>
				</div>
				
			</div>
			<div>
				<div class="correo">
					<form action="/Contacto" method="POST">
					<div>
						<h4 class="de">Escriba su correo:</h4><input name="form" id="form" type='text' placeholder="JuanPerez@ejemplo.com.mx" size="30" class="centered"/><br><br>
						<h4 class="chat">Mensaje:</h4>
						<textarea name="message" id="message" rows="10" cols="55" class="centered"></textarea>
						<br><br>
					</div>
						<div class="centered">
							<input type='submit' value='Enviar Email'/>
						</div>
					</form>
				</div>
			</div>
		</div>
			<iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3369.707012916499!2d-106.0935906852677!3d32.37340438109582!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86e0c1c096b20545%3A0x5ea88be09e3458de!2sMiddle%20of%20Nowhere%20RV%20Park!5e0!3m2!1ses-419!2smx!4v1611542734454!5m2!1ses-419!2smx" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
			<!-- <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3765.6641569568383!2d-99.5499899846848!3d19.29696575000308!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cd8ab5ad092f23%3A0x5e261aec3a66ac36!2sNovuspack%2C%20S.A.%20de%20C.V.!5e0!3m2!1ses-419!2smx!4v1601526741753!5m2!1ses-419!2smx" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe> -->
		</div>
		
		<div class="movil">
			<h1>Contacto</h1>
		<div class="row">
			<div class="categoriaContacto">
				<div class="tema">
					<p>Direccion</p>
				</div>
				<div class="row">
					<svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-compass iconoTel" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8 15.016a6.5 6.5 0 1 0 0-13 6.5 6.5 0 0 0 0 13zm0 1a7.5 7.5 0 1 0 0-15 7.5 7.5 0 0 0 0 15z"/>
  <path d="M6 1a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2H7a1 1 0 0 1-1-1zm.94 6.44l4.95-2.83-2.83 4.95-4.95 2.83 2.83-4.95z"/>
</svg>
					<div class="descripcionCont">
						<a>Lorem ipsum dolor sit amet </a><br>
						<a>consectetur adipiscing </a><br>
						<a>elit dictum</a>
					</div>
				</div>
				<div class="tema">
					<p>Telefono</p>
				</div>
				<div class="row">
					<svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-phone-fill iconoTel" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M3 2a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V2zm6 11a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
</svg>
					<div class="descripcionCont">
						<a>(55) 555 5555</a><br>
						<a>(55) 555 5555</a><br>
						<a>(55) 555 5555</a>
					</div>
				</div>

				<div class="tema">
					<p>Correo electronico</p>
				</div>
				<div class="row">
					<svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-envelope-fill iconoTel" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
</svg>
					<div class="descripcionCont cor">
						<span>ejemplo@correo.com</span>
					</div>
				</div>
				
			</div>
			<div>
				<div class="Titulazo">
					<a class="contacten centered">¡¡Contactanos!!</a>
				</div>
				<div class="correo">
					<form action="/Contacto" method="POST">
					<div>
						<h4 class="de">Escriba su correo:</h4><input name="form" id="form" type='text' placeholder="JuanPerez@ejemplo.com.mx" size="30" class="centered"/><br><br>
						<h4 class="chat">Mensaje:</h4>
						<textarea name="message" id="message" rows="10" cols="55" class="centered"></textarea>
						<br><br>
					</div>
						<div class="centered">
							<input type='submit' value='Enviar Email'/>
						</div>
					</form>
				</div>
			</div>
		</div>
			<iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3765.6641569568383!2d-99.5499899846848!3d19.29696575000308!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cd8ab5ad092f23%3A0x5e261aec3a66ac36!2sNovuspack%2C%20S.A.%20de%20C.V.!5e0!3m2!1ses-419!2smx!4v1601526741753!5m2!1ses-419!2smx" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
		</div>
		
	</main>
</body>


<%- include('./footer.ejs') %>
	
