<head>
	<%- include('includes/head.ejs') %>
    <script src='https://smtpjs.com/v3/smtp.js'></script>
</head>
<body>
	
	<link rel="stylesheet" type="text/css" href="/css/cotizacion.css">
	<link rel="stylesheet" type="text/css" href="/css/navbarkiller.css">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
 <%- include("includes/navigation.ejs") %>
	
	<br><br>
	<h3> Porfavor, agregue el correo al que quiera recibir su cotizacion.<br><br></h3>
	<br>
	<h3> Si tiene algun comentario extra que realizar porfavor anexelo en recuadro blanco correspondiente</h3>	
	
<div class="correo">
	<form action="/correoCotizacion" method="POST">
	<div>
		<h4 class="de">Escriba su correo:</h4><input name="from" id="form" type='text' placeholder="JuanPerez@ejemplo.com.mx" size="30" class="centered"/><br><br>
		<h4 class="chat">Mensaje:</h4>
		<textarea name="message" id="message" rows="10" cols="55" class="centered"></textarea>
		<!-- concatenar objetos a mensaje -->
		<br><br>
	</div>
		<div class="centered">
			<input class="btn btn-success boton" type='submit'/>
		</div>
	</form>
</div>	
	<script>
	document.getElementById("message").innerHTML=sessionStorage.getItem("ObjCorMay");
	</script>
</body>