<link rel="stylesheet" type="text/css" href="/css/footer.css">
<body>
	<div id="footer">
	<div class="container text-center text-md-left" id="fot">
    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold"><a href ="/">Nombre</a></h6>
        <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit dictum, condimentum duis ut facilisi vivamus hendrerit urna erat, convallis cursus accumsan vestibulum commodo aptent massa. Aliquam praesent laoreet fames nullam lectus leo vel vitae, taciti purus mauris quam justo fringilla massa tellus, convallis ridiculus tristique sapien nulla neque pharetra.
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold"><a href="/Productos0">Tienda</a></h6>
        <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
    
		<p><a href="/Productos0/Spartan">Botellas Spartan</a></p>
		<p><a href="/Productos0/Crack">Botellas Crack</a></p>
		<p><a href="/Productos0/500/ml">Botellas 500 mL</a></p>
		<p><a href="/Productos0/750/ml">Botellas 750 mL</a></p>
		<p><a href="/Productos0/1000/ml">Botellas 1 L</a></p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">link 1</a>
		</p>
        <p>
          <a href="#!">link 2</a>
        </p>
        <p>
          <a href="#!">link 3</a>
        </p>
        <p>
          <a href="#!">link 4</a>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold"><a href="/Contacto">Contacto</a></h6>
        <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Direccion:</p>
        <p>ejemplo@correo.com</p>
        <p>(55) 555 5555</p>
        <p>(55) 555 5555</p>
		<p>(55) 555 5555</p>

      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-4">
    <a href="https://mdbootstrap.com/">© 2020 Copyright: su empresa</a>
  </div>
  <!-- Copyright -->

	</div>
</body>