
<head>

<link rel="stylesheet" type="text/css" href="/css/pagoProcesado.css">
	
</head>

<body>
	
<script>
	
	function aceptoPago(){
		
		window.close();
		
	}
	
	</script>	
	
<h1>
Su pago ha sido procesado!!!	
</h1>	
<h2>
Gracias por comprar con nosotros!!!
	</h2>	
	
<a class="boton_personalizado" onclick="aceptoPago()">aceptar</a>	
	
</body>
