/* este es para movil y phablet */
@media  screen and (max-width: 575px) {

.Can{
	 color: #1b3d6b; !important
}
	
.precio{
	display:none;
}
	
h1{
    color: #1b3d6b;	
	width: 60vw;
	padding-top: 10px;
}

h2{
	padding-left: 10px;
	padding-top: 5px;
}

body{
	background: #e0e0e0;
}

div{
	background: #e0e0e0;
}

article{
	margin-right: 20px;
}
.PresentacionCart{
	margin-top:15px;
	background-color: #01194b;
	padding-bottom:15px;
	padding-right:25px;
}

.Titulazo{
	color: #FFFFFF;
	font-family: 'Red Rose', cursive;
	font-size: 30px;
	width: 100vw;
}

.titulo{
	color: #01194b;
	font-family: 'Red Rose', cursive;
	font-size: 25px;
	padding-left: 2vw;
}

.ProductoInvidualMOstrado{
	background-color: #cccdce;
	margin-bottom:-17px;
	padding-bottom:15px;
	padding-top:15px;
}

.infoBasica{
	display: flex;
	background-color:#cccdce;
	margin-bottom:3vh;
}
.description{
	float: right;
	padding-left:1vw;
	margin-right: 1vw;
}

.gridMejorado{
	background-color: #cccdce;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
	margin-bottom:17px;
}

.precio2{
	font-size:25px; 
    margin-top:-2vh;
	margin-bottom: 6vh;
	color: #1b3d6b;
	margin-left: 3.5vw;
	background-color:rgba(0, 0, 0, 0);
}

.imagen{
	display: flex;
	width: 12vw;;
	height: 20vh;
}
.separacion{
	background-color: #01194b;
	padding:15px;	
}
.lorem {float:right;text-align:right ;color: #a90000;  cursor: pointer;}
.close {position:relative;}
.close .closeButton1 {
    font-size: 24px;
    width:19px;height:19px;
    top:-9px;
    right:-9px;
    position:absolute;
    cursor:pointer;
    line-height:21px;	
}
.left{
	display:block;
	/* padding-right:60vh; */
	width:100vw;
	height:100vh;
}

.Cobro{
	background-color:#cccdce;
	color:#060a72;
}

.checkout{
	position: absolute;
	bottom:-35vh;
	margin-left: 9vw;
	height:35vh;
	width:82vw;
	background-color: #01194b;
	color:whitesmoke;
	font-family: 'Red Rose', cursive;
	font-size:20;
}
.cantidad2{
	font-size:25px;
	margin-top:-30px;
	display: flex; 
	align-items: right;
    justify-content: right; 
	float: right;
	background-color:rgba(0, 0, 0, 0);
}
.cantidadbackground{
	width:60%;
	background-color:whitesmoke;
	font-size:25px;
	height: 6vh;
}

.sumaYresta{
	margin-top:15px;
    color: #f5640a;
	cursor:pointer;
}
.Can{
 color: white; !important;
}
}

/* Escritorio grandote */
@media only screen and (min-width:992px) and (max-width:1199px){

.Can{
	color:white; !important;
}
	
h1{
    color: #1b3d6b;	
	padding-left: 70px;
	padding-top: 10px;
}

h2{
	padding-top: 8px;
}

body{
	background: #a7a9ac;
}

div{
	background: #a7a9ac;
}

article{
	margin-right: 20px;
}
.PresentacionCart{
	margin-top:15px;
	background-color: #01194b;
	padding-bottom:15px;
}

.Titulazo{
	color: #FFFFFF;
	font-family: 'Red Rose', cursive;
	font-size: 40px;
}

.titulo{
	color: #01194b;
	font-family: 'Red Rose', cursive;
	font-size: 30px;
}

.ProductoInvidualMOstrado{
	background-color: #acadaf;
	margin-bottom:-17px;
	padding-bottom:15px;
	padding-top:15px;
}

.infoBasica{
	display: flex;
	background-color:#cccdce;
}
.description{
	float: right;
	padding-top:5vh;
}

.gridMejorado{
	background-color: #cccdce;
    margin-left:15vw;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
	margin-bottom:17px;
	
}
.precio2{
	color: white;
    font-size:25px;
	display: flex;
	align-items: left;
    justify-content: left; 
	float: left;	
	padding-left:5px;
}
.precio{
	display:none;
}

.imagen{
	display: flex;
	width: 10vw;;
}
.separacion{
	background-color: #01194b;
	/* padding:15px; */
	height:40px;
}
.lorem {float:right;text-align:right ;color: #a90000;  cursor: pointer;}
.close {position:relative;}
.close .closeButton1 {
    font-size: 24px;
    width:19px;height:19px;
    top:-9px;
    right:-9px;
    position:absolute;
    cursor:pointer;
    line-height:21px;	
}
.left{
	display:block;
	/* padding-right:60vh; */
	width:70vw;
	height:100vh;
}

.Cobro{
	background-color:#cccdce;
	color:#060a72;
}

.ContenidosDelCarrito{
	display:flex;	
	background-color:#e0e0e0;	
}
.content_card{
	background-color:#e0e0e0;
}

.checkout{
	margin-top:15vh;
	height:35vh;
	float:right;
	display:fixed;
	width:25vw;
	background-color: #01194b;
	color:whitesmoke;
	font-family: 'Red Rose', cursive;
	font-size:20;
}
.cantidad2{
	font-size:15px; 
    margin-top:-25px;
	display: flex; 
	align-items: left;
    justify-content: left; 
	float: left;
	background-color:rgba(0, 0, 0, 0);
	color:white;
}
.cantidadbackground{
	padding-right: 20px;
	background-color:whitesmoke;
	color:black;
	height:35px;
	margin-top:25px !important;
	padding-top:0 !important;
	text-align:center !important;
}

.sumaYresta{
	padding:1px;
	margin:1px;
	z-index:3;
	margin-top:30px;
    color: #f5640a;
	cursor:pointer;
}
.total{
	padding-left:20px;
}
}
/* Escritorio pequenio y tabletas */
@media only screen and (min-width:768px) and (max-width:991px){

.Can{
	 color: #1b3d6b; !important
}
	
.precio{
	display:none;
}
	
h1{
    color: #1b3d6b;	
	width: 60vw;
	padding-top: 10px;
}

h2{
	padding-left: 10px;
	padding-top: 5px;
}

body{
	background: #e0e0e0;
}

div{
	background: #e0e0e0;
}

article{
	margin-right: 20px;
}
.PresentacionCart{
	margin-top:15px;
	background-color: #01194b;
	padding-bottom:15px;
	padding-right:25px;
}

.Titulazo{
	color: #FFFFFF;
	font-family: 'Red Rose', cursive;
	font-size: 30px;
	width: 100vw;
}

.titulo{
	color: #01194b;
	font-family: 'Red Rose', cursive;
	font-size: 25px;
	padding-left: 2vw;
}

.ProductoInvidualMOstrado{
	background-color: #cccdce;
	margin-bottom:-17px;
	padding-bottom:15px;
	padding-top:15px;
}

.infoBasica{
	display: flex;
	background-color:#cccdce;
	margin-bottom:3vh;
}
.description{
	float: right;
	padding-left:1vw;
	margin-right: 1vw;
}

.gridMejorado{
	background-color: #cccdce;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
	margin-bottom:17px;
}

.precio2{
	font-size:25px; 
    margin-top:-2vh;
	margin-bottom: 6vh;
	color: #1b3d6b;
	margin-left: 3.5vw;
	background-color:rgba(0, 0, 0, 0);
}

.imagen{
	display: flex;
	width: 12vw;;
	height: 20vh;
}
.separacion{
	background-color: #01194b;
	padding:15px;	
}
.lorem {float:right;text-align:right ;color: #a90000;  cursor: pointer;}
.close {position:relative;}
.close .closeButton1 {
    font-size: 24px;
    width:19px;height:19px;
    top:-9px;
    right:-9px;
    position:absolute;
    cursor:pointer;
    line-height:21px;	
}
.left{
	display:block;
	/* padding-right:60vh; */
	width:100vw;
	height:100vh;
}

.Cobro{
	background-color:#cccdce;
	color:#060a72;
}

.checkout{
	position: absolute;
	bottom:-35vh;
	margin-left: 9vw;
	height:35vh;
	width:82vw;
	background-color: #01194b;
	color:whitesmoke;
	font-family: 'Red Rose', cursive;
	font-size:20;
}
.cantidad2{
	font-size:25px; 
    margin-top:-62px;
	display: flex; 
	align-items: right;
    justify-content: right; 
	float: right;
	background-color:rgba(0, 0, 0, 0);
}
.cantidadbackground{
	padding-right: 30px;
	background-color:whitesmoke;
	font-size:25px;
	height: 6vh;
}

.sumaYresta{
	padding:5px;
	margin-top:15px;
	
    color: #f5640a;
	cursor:pointer;
}
.Can{
 color: #1b3d6b !important;
}
}

/* ESCRITORIO SUPEEERRRRR GRANDE */
@media only screen and (min-width:1200px) and (max-width: 1595px) {

.Can{
	 color: #1b3d6b; !important
}
	
h1{
    color: #1b3d6b;	
	padding-left: 70px;
	padding-top: 10px;
}

h2{
	padding-left: 30px;
	padding-top: 5px;
}

body{
	background: #a7a9ac;
}

div{
	background: #a7a9ac;
}

article{
	margin-right: 20px;
}
.PresentacionCart{
	margin-top:15px;
	background-color: #01194b;
	padding-bottom:15px;
	padding-right:25px;

}

.Titulazo{
	color: #FFFFFF;
	font-family: 'Red Rose', cursive;
	font-size: 50px;
}

.titulo{
	color: #01194b;
	font-family: 'Red Rose', cursive;
	font-size: 30px;
}

.ProductoInvidualMOstrado{
	background-color: #acadaf;
	margin-bottom:-17px;
	padding-bottom:15px;
	padding-top:15px;
}

.infoBasica{
	
	display: flex;
	background-color:#cccdce;
	/* align-items: right;
    justify-content: right;  */
	
}
.description{
	float: right;
	padding-top:5vh;
	padding-left:3vw;
}

.gridMejorado{
	background-color: #cccdce;
    margin-left:15vw;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
	margin-bottom:17px;
	
}
.precio2{
	display: none;
}
.precio{
	color: #1b3d6b;
    font-size:25px;
    /* padding-top: 175px; */
	display: flex;
	align-items: right;
    justify-content: right; 
	float: right;	
}

.imagen{
	display: flex;
	width: 8vw;
	height: 16vw;
}
.separacion{
	background-color: #01194b;
	padding:15px;	
}
.lorem {float:right;text-align:right ;color: #a90000;  cursor: pointer;}
.close {position:relative;}
.close .closeButton1 {
    font-size: 24px;
    width:19px;height:19px;
    top:-9px;
    right:-9px;
    position:absolute;
    cursor:pointer;
    line-height:21px;	
}
.left{
	display:block;
	/* padding-right:60vh; */
	width:120vw;
	height:100vh;
}

.Cobro{
	background-color:#cccdce;
	color:#060a72;
}

.ContenidosDelCarrito{
	display:flex;	
	background-color:#e0e0e0;	
}
.content_card{
	background-color:#e0e0e0;
}

.checkout{
	margin-top:18vh;
	height:35vh;
	float:right;
	display:fixed;
	width:30vw;
	background-color: #01194b;
	color:whitesmoke;
	font-family: 'Red Rose', cursive;
}
.cantidad2{
	font-size:25px; 
    margin-top:-62px;
	display: flex; 
	align-items: right;
    justify-content: right; 
	float: right;
	background-color:rgba(0, 0, 0, 0);
}
.Subtotal, .totalReal{
	font-size:19px !important;
	margin-left:-15px;
}
.cantidadbackground{
	padding-right: 30px;
	background-color:whitesmoke;
}

.sumaYresta{
	padding:1px;
	margin:1px;
	z-index:3;
	margin-top:15px;
    color: #f5640a;
	cursor:pointer;
}
.Can{
 color: #1b3d6b !important;
}
}
/* TELEFONOS NORMALES NO ENANOS COMO EL DE SANTI Y ALAN */
@media only screen and (min-width:576px) and (max-width:767px){

.Can{
	 color: #1b3d6b; !important
}
	
.precio{
	display:none;
}
	
h1{
    color: #1b3d6b;	
	width: 60vw;
	padding-top: 10px;
}

h2{
	padding-left: 10px;
	padding-top: 5px;
}

body{
	background: #e0e0e0;
}

div{
	background: #e0e0e0;
}

article{
	margin-right: 20px;
}
.PresentacionCart{
	margin-top:15px;
	background-color: #01194b;
	padding-bottom:15px;
	padding-right:25px;
}

.Titulazo{
	color: #FFFFFF;
	font-family: 'Red Rose', cursive;
	font-size: 30px;
	width: 100vw;
}

.titulo{
	color: #01194b;
	font-family: 'Red Rose', cursive;
	font-size: 25px;
	padding-left: 2vw;
}

.ProductoInvidualMOstrado{
	background-color: #cccdce;
	margin-bottom:-17px;
	padding-bottom:15px;
	padding-top:15px;
}

.infoBasica{
	display: flex;
	background-color:#cccdce;
	margin-bottom:3vh;
}
.description{
	float: right;
	padding-left:1vw;
	margin-right: 1vw;
}

.gridMejorado{
	background-color: #cccdce;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
	margin-bottom:17px;
}

.precio2{
	font-size:25px; 
    margin-top:-2vh;
	margin-bottom: 6vh;
	color: #1b3d6b;
	margin-left: 3.5vw;
	background-color:rgba(0, 0, 0, 0);
}

.imagen{
	display: flex;
	width: 12vw;;
	height: 20vh;
}
.separacion{
	background-color: #01194b;
	padding:15px;	
}
.lorem {float:right;text-align:right ;color: #a90000;  cursor: pointer;}
.close {position:relative;}
.close .closeButton1 {
    font-size: 24px;
    width:19px;height:19px;
    top:-9px;
    right:-9px;
    position:absolute;
    cursor:pointer;
    line-height:21px;	
}
.left{
	display:block;
	/* padding-right:60vh; */
	width:100vw;
	height:100vh;
}

.Cobro{
	background-color:#cccdce;
	color:#060a72;
}

.checkout{
	position: absolute;
	bottom:-35vh;
	margin-left: 9vw;
	height:35vh;
	width:82vw;
	background-color: #01194b;
	color:whitesmoke;
	font-family: 'Red Rose', cursive;
	font-size:20;
}
.cantidad2{
	font-size:25px; 
    margin-top:-62px;
	display: flex; 
	align-items: right;
    justify-content: right; 
	float: right;
	background-color:rgba(0, 0, 0, 0);
}
.cantidadbackground{
	padding-right: 30px;
	background-color:whitesmoke;
	font-size:25px;
	height: 6vh;
}

.sumaYresta{
	padding:5px;
	margin-top:15px;
	
    color: #f5640a;
	cursor:pointer;
}
.Can{
 color: #1b3d6b !important;
}
}

/* Practicamente un Televisor */
@media only screen and (min-width:1596px)  {

.Can{
	 color: #1b3d6b; !important
}
	
h1{
    color: #1b3d6b;	
	padding-left: 70px;
	padding-top: 10px;
}

h2{
	padding-left: 30px;
	padding-top: 5px;
}

body{
	background: #a7a9ac;
}

div{
	background: #a7a9ac;
}

article{
	margin-right: 20px;
}
.PresentacionCart{
	margin-top:15px;
	background-color: #01194b;
	padding-bottom:15px;
	padding-right:25px;

}

.Titulazo{
	color: #FFFFFF;
	font-family: 'Red Rose', cursive;
	font-size: 50px;
}

.titulo{
	color: #01194b;
	font-family: 'Red Rose', cursive;
	font-size: 30px;
}

.ProductoInvidualMOstrado{
	background-color: #acadaf;
	margin-bottom:-17px;
	padding-bottom:15px;
	padding-top:15px;
}

.infoBasica{
	
	display: flex;
	background-color:#cccdce;
	/* align-items: right;
    justify-content: right;  */
	
}
.description{
	float: right;
	padding-top:5vh;
	padding-left:3vw;
}

.gridMejorado{
	background-color: #cccdce;
    margin-left:25vw;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
	margin-bottom:17px;
	
}
.precio2{
	display: none;
}
.precio{
	color: #1b3d6b;
    font-size:25px;
    /* padding-top: 175px; */
	display: flex;
	align-items: right;
    justify-content: right; 
	float: right;	
}

.imagen{
	display: flex;
	width: 5vw;;
}
.separacion{
	background-color: #01194b;
	padding:15px;	
}
.lorem {float:right;text-align:right ;color: #a90000;  cursor: pointer;}
.close {position:relative;}
.close .closeButton1 {
    font-size: 24px;
    width:19px;height:19px;
    top:-9px;
    right:-9px;
    position:absolute;
    cursor:pointer;
    line-height:21px;	
}
.left{
	display:block;
	/* padding-right:60vh; */
	width:120vw;
	height:100vh;
}

.Cobro{
	background-color:#cccdce;
	color:#060a72;
}

.ContenidosDelCarrito{
	display:flex;	
	background-color:#e0e0e0;	
}
.content_card{
	background-color:#e0e0e0;
}

.checkout{
	margin-top:15vh;
	height:35vh;
	float:right;
	display:fixed;
	width:25vw;
	background-color: #01194b;
	color:whitesmoke;
	font-family: 'Red Rose', cursive;
	font-size:20;
}
.cantidad2{
	
	font-size:25px; 
    margin-top:-62px;
	 display: flex; 
	align-items: right;
    justify-content: right; 
	float: right;
	background-color:rgba(0, 0, 0, 0);
	
}
.cantidadbackground{
	padding-right: 30px;
	background-color:whitesmoke;
	
}

.sumaYresta{
	padding:1px;
	margin:1px;
	z-index:3;
	margin-top:15px;
    color: #f5640a;
	cursor:pointer;
}
.Can{
 color: #1b3d6b !important;
}
}