/* GIGANTOMACIA*/
@media only screen and (min-width:1596px){
	
.lis{
	background-color: #23272b;
}
	
.monitorNB{
	background-color: #23272b;
}
	
.movilNB{
	display:none;
}
	
.main-header {
    height: 7vw;
    padding-top: 0.5rem;
	background-color: #23272b;
}

#header {
    position: fixed;
	top: 0;
    width: 100%;
}

.logo{
	width: 7vw;
	margin-left:3vw;
	padding-top: 7px;
	margin-bottom: 7px;
}
	
.main-header__nav {
    height: 100%;
    display: flex;
    align-items: right;
	background-color: #23272b;
}

.main-header__item-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
	text-align: right;
	align-items: right;
	font-family: 'Rouge Script';
    align-self:right;
	float:right;
	background-color: #23272b;
}

.main-header__item {
	background-color: #23272b;
    margin: 0 1rem;
    padding: 0;
	font-family: 'Red Rose', cursive;
	font-size:140%;
}

.main-header__item a {
    text-decoration: none;
    color: white;
}

.text-dark{
	font-family: Amatic SC;
	font-size: 35px;
}

.carro {
 color: white;
}
ul{
	width: 100%;
}
	
}

/* ESCRITORIO SUPEEERRRRR GRANDE */
@media only screen and (min-width:1200px) and (max-width:1595px){
	
.monitorNB{
	background-color: #23272b;
}
	
.lis{
	background-color: #23272b;
}
	
.movilNB{
	display:none;
}
	
.main-header {
    height: 10vw;
    padding-top: 0.5rem;
	background-color: #23272b;
}

#header {
    position: fixed;
	top: 0;
    width: 100%;
}

.logo{
	width: 10vw;
	margin-left:3vw;
	padding-top: 7px;
	margin-bottom: 7px;
}
	
.main-header__nav {
    height: 100%;
    display: flex;
    align-items: right;
	background-color: #23272b;
}

.main-header__item-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
	text-align: right;
	align-items: right;
	font-family: 'Rouge Script';
    align-self:right;
	float:right;
	background-color: #23272b;
}

.main-header__item {
    margin: 0 1rem;
    padding: 0;
	font-family: 'Red Rose', cursive;
	font-size:110%;
	background-color: #23272b;
}

.main-header__item a {
    text-decoration: none;
    color: white;
}

.text-dark{
	font-family: Amatic SC;
	font-size: 35px;
}

.carro {
 color: white;
}
ul{
	width: 100%;
}
}

/* este es para movil y phablet */
@media  screen and (max-width: 575px) {
	
.lis{
	background-color: #23272b;
}
	
.monitorNB{
	display:none;
}
	
.main-header {
    height: 17vw;
    padding: 0 .5rem;
}

#header {
    position: fixed;
	top: 0;
    width: 100%;
}

.logo{
	width: 17vw;
	padding-top: 7px;
	margin-bottom: 7px;
}

.main-header__nav {
    height: 100%;
    display: flex;
    align-items: right;
}

.main-header__item-list {
	list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
	text-align: center;
	align-items: center;
	font-family: 'Rouge Script';
	font-size: 10px;
	width:100%;
}

.main-header__item {
    margin: 0;
    padding: 0 3px;
	font-family: 'Red Rose', cursive;
}

.main-header__item a {
    text-decoration: none;
    color: white;
}

.text-dark{
	font-family: Amatic SC;
	font-size: 35px;
}

.carro {
 color: white;
}
ul{
	width: 100%;
}
}

/* Escritorio pequenio y tabletas */
@media only screen and (min-width: 768px) and (max-width:991px) {
	
.lis{
	background-color: #23272b;
}
	
.monitorNB{
	display:none;
}
	
.main-header {
    height:12vw;
    padding: 0 .5rem;
}

#header {
    position: fixed;
	top: 0;
    width: 100%;
}

	
.logo{
	width: 12vw;
	margin-left:3vw;
	padding-top: 7px;
	margin-bottom: 20px;
}
	
.main-header__nav {
    height: 100%;
    display: flex;
    align-items: right;
}

.main-header__item-list {
	list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
	text-align: center;
	align-items: center;
	font-family: 'Rouge Script';
	width:100%;
}

.main-header__item {
    margin: 0 1rem;
    padding: 0 3px;
	font-family: 'Red Rose', cursive;
	font-size:16px;
	padding-top:10px;
}

.main-header__item a {
    text-decoration: none;
    color: white;
}

.text-dark{
	font-family: Amatic SC;
	font-size: 35px;
}

.carro {
 color: white;
}
ul{
	width: 100%;
}
}

/* Escritorio grande*/
@media only screen and (min-width:992px) and (max-width : 1199px){
	
.monitorNB{
	background-color: #23272b;
}
	
.lis{
	background-color: #23272b;
}
	
.movilNB{
	display:none;
}	
	
.main-header {
    height: 10vw;
    padding: 0 .5rem;
	background-color: #23272b;
}

#header {
    position: fixed;
	top: 0;
    width: 100%;
}
	
.main-header__nav {
    height: 100%;
    display: flex;
    align-items: right;
	background-color: #23272b;
}

.main-header__item-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
	text-align: right;
	align-items: right;
	font-family: 'Rouge Script';
    align-self:right;
	float:right;
	background-color: #23272b;
}

.main-header__item {
    margin: 0 1rem;
    padding: 0;
	font-family: 'Red Rose', cursive;
	font-size: 100%;
	background-color: #23272b;
}

.main-header__item a {
    text-decoration: none;
    color: white;
}

.text-dark{
	font-family: Amatic SC;
	font-size: 35px;
}

.carro {
 color: white;
}
ul{
	width: 100%;
}
.logo{
	width: 10vw;
	margin-left:3vw;
	padding-top: 7px;
	margin-bottom: 7px;
}
}

/* TELEFONOS NORMALES NO ENANOS COMO EL DE SANTI Y ALAN */
@media only screen and (min-width:576px) and (max-width:767px){
	
.lis{
	background-color: #23272b;
}
	
.monitorNB{
	display:none;
}
	
.main-header {
    height: 15vw;
    padding: 0 .5rem;
}

#header {
    position: fixed;
	top: 0;
    width: 100%;
}

	
.logo{
	width: 15vw;
	margin-left:3vw;
	padding-top: 7px;
	margin-bottom: 7px;
}

.main-header__nav {
    height: 100%;
    display: flex;
    align-items: right;
}

.main-header__item-list {
	list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
	text-align: center;
	align-items: center;
	font-family: 'Rouge Script';
	font-size: 12px;
	width:100%;
}

.main-header__item {
    margin: 0;
    padding: 0 3px;
	font-family: 'Red Rose', cursive;
	font-size:15px;
}

.main-header__item a {
    text-decoration: none;
    color: white;
}

.text-dark{
	font-family: Amatic SC;
	font-size: 35px;
}

.carro {
 color: white;
}
ul{
	width: 100%;
}
}