/* este es para movil y phablet */
@media  screen and (max-width: 575px) {


.Fab{
	background-image: url("/images/dummy/ImagenParaScroll3.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.Imp{
	background-image: url("/images/dummy/ImagenParaScroll2.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.Titulo{
	font-family: 'Red Rose', cursive !important;
    color: #1b3d6b;	
	font-size: 50px;
	margin-bottom:5%;
}

.servicio{
	border: solid #1b3d6b 3px;
	width:90vw;
	margin-right:10vw;
	margin-top:10vh;
	text-align:center;
	height:40vh;
}

body{
	background-color:#e0e0e0;
}

.main{
	font-family: 'Red Rose', cursive !important;
	margin-left:5vw;
}
button{
	margin-top:5%;
	width:70%;
	height:40%;
	font-size:27px;
}

}

/* ESCRITORIO SUPEEERRRRR GRANDE */
@media only screen and (min-width:1200px) and (max-width:1550px){
.Fab{
	background-image: url("/images/dummy/ImagenParaScroll3.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.Imp{
	background-image: url("/images/dummy/ImagenParaScroll2.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.Titulo{
	font-family: 'Red Rose', cursive !important;
    color: #1b3d6b;	
	font-size: 70px;
	margin-bottom:5%;
}

.servicio{
	border: solid #1b3d6b 3px;
	width:30vw;
	margin-right:10vw;
	margin-top:10vh;
	text-align:center;
	height:40vh;
}

body{
	background-color:#e0e0e0;
}

.main{
	font-family: 'Red Rose', cursive !important;
	margin-left:15vw;
}
button{
	margin-bottom:5%;
	width:70%;
	height:40%;
	font-size:35px;
}

}

@media only screen and (min-width:1551px){
.Fab{
	background-image: url("/images/dummy/ImagenParaScroll3.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.Imp{
	background-image: url("/images/dummy/ImagenParaScroll2.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.Titulo{
	font-family: 'Red Rose', cursive !important;
    color: #1b3d6b;	
	font-size: 70px;
	margin-bottom:5%;
}

.servicio{
	border: solid #1b3d6b 3px;
	width:30vw;
	margin-right:10vw;
	margin-top:10vh;
	text-align:center;
	height:40vh;
}

body{
	background-color:#e0e0e0;
}

.main{
	font-family: 'Red Rose', cursive !important;
	margin-left:15vw;
}
button{
	margin-bottom:5%;
	width:70%;
	height:40%;
	font-size:40px;
}

}

/* Escritorio grandote */
@media only screen and (min-width:992px) and (max-width:1199px){
.Fab{
	background-image: url("/images/dummy/ImagenParaScroll3.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.Imp{
	background-image: url("/images/dummy/ImagenParaScroll2.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.Titulo{
	font-family: 'Red Rose', cursive !important;
    color: #1b3d6b;	
	font-size: 55px;
	margin-bottom:5%;
}

.servicio{
	border: solid #1b3d6b 3px;
	width:30vw;
	margin-right:10vw;
	margin-top:10vh;
	text-align:center;
	height:40vh;
}

body{
	background-color:#e0e0e0;
}

.main{
	font-family: 'Red Rose', cursive !important;
	margin-left:15vw;
}
button{
	margin-bottom:5%;
	width:70%;
	height:40%;
	font-size:25px;
}

}
/* Escritorio pequenio y tabletas */
@media only screen and (min-width:768px) and (max-width:991px){
	


.Fab{
	background-image: url("/images/dummy/ImagenParaScroll3.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.Imp{
	background-image: url("/images/dummy/ImagenParaScroll2.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.Titulo{
	font-family: 'Red Rose', cursive !important;
    color: #1b3d6b;	
	font-size: 60px;
	margin-bottom:5%;
}

.servicio{
	border: solid #1b3d6b 3px;
	width:70vw;
	margin-right:10vw;
	margin-top:10vh;
	text-align:center;
	height:40vh;
}

body{
	background-color:#e0e0e0;
}

.main{
	font-family: 'Red Rose', cursive !important;
	margin-left:15vw;
}
button{
	margin-top:5%;
	width:70%;
	height:40%;
	font-size:35px;
}

}
/* TELEFONOS NORMALES NO ENANOS COMO EL DE SANTI Y ALAN */
@media only screen and (min-width: 576px) and (max-width:991px) {
	
}

/* Escritorio pequenio y tabletas */
@media only screen and (min-width:576px) and (max-width:767px){


.Fab{
	background-image: url("/images/dummy/ImagenParaScroll3.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.Imp{
	background-image: url("/images/dummy/ImagenParaScroll2.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.Titulo{
	font-family: 'Red Rose', cursive !important;
    color: #1b3d6b;	
	font-size: 50px;
	margin-bottom:5%;
}

.servicio{
	border: solid #1b3d6b 3px;
	width:90vw;
	margin-right:10vw;
	margin-top:10vh;
	text-align:center;
	height:40vh;
}

body{
	background-color:#e0e0e0;
}

.main{
	font-family: 'Red Rose', cursive !important;
	margin-left:5vw;
}
button{
	margin-top:5%;
	width:70%;
	height:40%;
	font-size:27px;
}

}